<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>assignment_ind</mat-icon>
            CLIENTES
        </ng-template>
        <app-gestion-clientes></app-gestion-clientes>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>store</mat-icon>
            PRODUCTOS
        </ng-template>
        <app-gestion-productos></app-gestion-productos>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon> local_grocery_store</mat-icon>
            GESTIONAR PRESTAMOS
        </ng-template>

        <app-gestionar-prestamos></app-gestionar-prestamos>
    </mat-tab>
</mat-tab-group>